.header {
	display: flex;
	justify-content: space-around;
	padding: 20px;
	margin-right: 100px;

	a {
		font-size: 18px;
		text-decoration: none;
		transition: .2s;

		&:hover {
			cursor: pointer;
			color: var(--medium);
		}
	}

	.list {
		margin-top: 5px;
		display: flex;
		width: 500px;
		justify-content: space-between;

		li {
			list-style: none;
			font-weight: bold;
			transition: 0.2s;

			&:hover {
				cursor: pointer;
				color: var(--medium);
				transform: scale(1.1);
			}
		}
	}

	.language {
		transition: 0.2s;

		&:hover {
			cursor: pointer;
			transform: scale(1.1);
			color: var(--medium);
		}
	}
}
