.header {
	display: flex;
	justify-content: space-around;
	padding: 20px;

	a {
		font-size: 18px;
		text-decoration: none;
		transition: .2s;

		&:hover {
			cursor: pointer;
			color: var(--medium);
		}
	}

	.list {
		margin-top: 5px;
		display: flex;
		width: 450px;
		justify-content: space-between;

		li {
			list-style: none;
			font-weight: bold;
			transition: 0.2s;

			&:hover {
				cursor: pointer;
				color: var(--medium);
				transform: scale(1.1);
			}
		}
	}

	.contacts {
		ul {
			display: flex;
			gap: 5px;

			li {
				list-style: none;
				width: 40px;
				height: 40px;
				border: 1px solid var(--medium);
				border-radius: 50%;
				display: grid;
				place-items: center;
				transition: 0.2s;

				&:hover {
					transform: scale(1.1);
					background: var(--medium);
				}
			}
		}
	}

	.language {
		transition: 0.2s;

		&:hover {
			cursor: pointer;
			transform: scale(1.1);
			color: var(--medium);
		}
	}
}
